numpy
pandas
scikit-learn
matplotlib
imblearn
xgboost
catboost
lightgbm
datetime
scikit-learn
optuna
sdv

pennylane
tensorflow
torch
joblib

-e ./tabfm[pytorch]
safetensors
huggingface_hub


jaxtyping